.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 92px 51px 89px 49px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
  width: 137px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.header__address {
  padding-left: 208px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 136px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  line-height: 100%;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}
.no-letter-spacing {
  letter-spacing: normal;
}
.cover__description {
  display: flex;
  padding-bottom: 49px;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 78px;
  padding-right: 50px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
}
.cover__description-text {
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  word-spacing: 19px;
}
.bet-button {
  width: 257px;
  padding: 12px 20px;
  border: 1px solid white;
  color: white;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  background-color: transparent;
  border-spacing: 0;
}

.lots {
  padding-top: 180px;
}

.lots__heading {
  padding-left: 90px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding: 27px 49px 32px 50px;
  list-style: none;
}

.lots__card-list-item {
  width: 430px;
  height: 450px;
}

.card {
  width: inherit;
  height: inherit;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: inherit;
}

.card_type_film {
  width: inherit;
  height: inherit;
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
}

.card_type_book {
  width: inherit;
  height: inherit;
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  width: inherit;
  height: inherit;
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  padding-top: 50px;
  padding-inline: 40px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  padding-bottom: 50px;
  padding-inline: 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 90px;
  color: black;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 23px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 430px auto;
  gap: 25px;
  margin: 180px 50px 0px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0px 95px;
  border-radius: 120px;
  background-color: black;

}
.about__logo-image {
  margin: 63px 46px;
}

.about__column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: start;
  align-items: flex-start;
  gap: 25px;
  padding-bottom: 0px;

}

.about__title {
  padding-top: 100px;
  padding-bottom: 75px;
  color: black;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.about__text {
  color: black;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin: 181px 50px 90px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-underline-offset: 4px;
}

.footer__contacts {
  line-height: 135%;
}

.footer__links-list {
  text-align: center;
  list-style: none;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  justify-self: end;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}
